.footer-container {
  display: flex;
  flex-direction: column;
  height: 700px;
  background-image: url("../images/LayerFooter.png");
  background-position: center;

  .footer-information {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #ffffff;
    transform: translateY(300px);
    right: 0px;
    max-width: 480px;
    padding: 20px;
  }

  .footer-title{
    font-size: 20px;
    padding: 10px;
  }
  .footer-subtitle{
    font-size: 12px;
  }
}
.footer-bottom {
  display: flex;
  text-align: left;
  background-color: #e82134;
  color: #ffffff;
  padding: 15px;
}

